PORT=5000
MONGO_URI=mongodb://bijukumarbrahma:Biju%40696969@ac-axno39t-shard-00-00.i0n8l28.mongodb.net:27017,ac-axno39t-shard-00-01.i0n8l28.mongodb.net:27017,ac-axno39t-shard-00-02.i0n8l28.mongodb.net:27017/codex_fitness?tls=true&authSource=admin&replicaSet=atlas-czjitj-shard-0&retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5000
